{% extends 'base.html' %}

{% block title %}로그인{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>로그인</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                        <label for="email">이메일</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">비밀번호</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">로그인</button>
                </form>
            </div>
            <div class="card-footer text-center">
                계정이 없으신가요? <a href="{{ url_for('auth.register') }}">회원가입</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}