{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/project.css') }}">
{% endblock %}

{% block content %}
<h2>새 {{ '협업' if project_type == 'collaboration' else '스터디' }} 프로젝트 생성</h2>
<form method="POST"  action="{{ url_for('project.create_project', type = project_type) }}">
    {{ form.hidden_tag() }}
    <!-- {{ form.type }} -->
    <div>
        {{ form.title.label }}
        {{ form.title }}
    </div>
    <div>
        {{ form.description.label }}
        {{ form.description }}
    </div>
    <div>
        {{ form.start_date.label }}
        {{ form.start_date }}
    </div>
    <div>
        {{ form.end_date.label }}
        {{ form.end_date }}
    </div>
        {% if project_type == 'study' %}
    <div>
        {{ form.is_public.label }}
        {{ form.is_public }}
    </div>
    {% endif %}
    {{ form.submit }}
</form>
{% if form.errors %}
    <div class="errors">
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <p>{{ field }}: {{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}