{% extends 'base.html' %}

{% block content %}
<h2>프로젝트 수정</h2>
<form action="{{ url_for('project.edit', project_id=project.id) }}" method="post">
    {{ form.hidden_tag() }}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div>
        {{ form.title.label }}
        {{ form.title(value=project.title, required=True) }}
    </div>
    <div>
        {{ form.description.label }}
        {{ form.description(value=project.description, required=True) }}
    </div>
    <div>
        {{ form.start_date.label }}
        {{ form.start_date(value=project.start_date, required=True) }}
    </div>
    <div>
        {{ form.end_date.label }}
        {{ form.end_date(value=project.end_date, required=True) }}
    </div>
    {{ form.submit() }}
</form>
{% endblock %}