{% extends 'base.html' %}

{% block content %}
    <h1>{{ chat_room.name }}</h1>
    <div id="messages">
        {% for message in messages %}
            <div>{{ message.username }}: {{ message.content }}</div>
        {% endfor %}
    </div>
    <form id="message-form">
        <input type="text" id="message-input" placeholder="Enter your message">
        <button type="submit">Send</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <script>
        const socket = io();
        const messageForm = document.getElementById('message-form');
        const messageInput = document.getElementById('message-input');
        const messages = document.getElementById('messages');

        messageForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const message = messageInput.value;
            socket.emit('message', { 'room': '{{ chat_room.id }}', 'msg': message, 'username': '{{ current_user.name }}' });
            messageInput.value = '';
        });

        socket.on('connect', () => {
            socket.emit('join', { 'room': '{{ chat_room.id }}', 'username': '{{ current_user.name }}' });
        });

        socket.on('message', (data) => {
            const messageElement = document.createElement('div');
            messageElement.innerText = data.username + ': ' + data.content;
            messages.appendChild(messageElement);
        });

        socket.on('status', (data) => {
            const statusElement = document.createElement('div');
            statusElement.innerText = data.msg;
            messages.appendChild(statusElement);
        });

        socket.on('load_messages', (data) => {
            const loadedMessages = JSON.parse(data.messages);
            loadedMessages.forEach((msg) => {
                const messageElement = document.createElement('div');
                messageElement.innerText = `${msg.username}: ${msg.content}`;
                messages.appendChild(messageElement);
            });
        });

        window.onbeforeunload = () => {
            socket.emit('leave', { 'room': '{{ chat_room.id }}', 'username': '{{ current_user.name }}' });
        };
    </script>
{% endblock %}