{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/chat.css') }}">
{% endblock %}

{% block content %}
<div class="chat-container">
  <div class="chat-sidebar">
    <div class="chat-header">
      <h2>{{ chat_room.name }}</h2>
    </div>

    <div class="participant-container">
      <h3>참여자 목록</h3>
      <ul id="participant-list" class="participant-list">
        {% for participant in participants %}
          <li>
            {{ participant.name }}
            {% if participant.id == chat_room.creator_id %}
              <span class="badge badge-primary">방장</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <form id="leave-room-form" action="{{ url_for('chat.leave_chat_room', chat_room_id=chat_room.id) }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <button id="leave-room-btn" type="submit">채팅방 나가기</button>
    </form>
  </div>
  <div class="chat-main">
    <div id="chat-messages" class="chat-messages">
      {% for message in messages %}
        <div class="chat-message {% if message.sender.id == current_user.id %}chat-message-sender{% else %}chat-message-receiver{% endif %}">
          <div class="chat-message-content">
            <span class="chat-message-sender-name">{{ message.sender.name }}: </span>
            <p>{{ message.content }}</p>
            <span class="chat-message-time">{{ message.timestamp.strftime('%H:%M') }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
    <form id="message-form" class="chat-input">
      <input type="text" id="message-input" placeholder="메시지를 입력하세요...">
      <button type="submit">전송</button>
    </form>
  </div>
</div>

<script>
  var CHAT_ROOM_ID = "{{ chat_room.id }}";
  var CHAT_ROOM_CREATOR_ID = {{ chat_room.creator_id }};
  var CSRF_TOKEN = "{{ csrf_token() }}";
  var CURRENT_USER_ID = {{ current_user.id }};
  var LEAVE_CHAT_ROOM_URL = "{{ url_for('chat.leave_chat_room', chat_room_id=chat_room.id) }}";
  var CHAT_LIST_URL = "{{ url_for('chat.chat_list') }}";
  var INITIAL_PARTICIPANTS = {{ participants|tojson|safe }};
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}