{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/mentorship.css') }}">
{% endblock %}

{% block content %}
<h1>할당한 과제</h1>
<ul>
  {% for task in tasks %}
  <li>
    <h3>{{ task.title }}</h3>
    <p>마감일: {{ task.deadline.strftime('%Y-%m-%d') }}</p>
    <p>멘티: {{ task.mentee.name }}</p>
    <p>상태: {% if task.is_completed() %}완료됨{% else %}진행 중{% endif %}</p>
    {% if task.completed %}
      {% if task.file %}
      <p><a href="{{ url_for('mentorship.download_file', filename=task.file) }}">제출된 과제 파일 다운로드</a></p>
      {% else %}
      <p><button class="btn btn-secondary" disabled>제출된 과제 파일 없음</button></p>
      {% endif %}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}