.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .btn:hover {
    text-decoration: none;
  }
  
  .btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .btn-secondary {
    color: #fff;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  
  .btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }
  
  .btn-success {
    color: #fff;
    background-color: var(--success-color);
    border-color: var(--success-color);
  }
  
  .btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  .btn-danger {
    color: #fff;
    background-color: var(--danger-color);
    border-color: var(--danger-color);
  }
  
  .btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }


  
/* 필터 버튼 기본 스타일 */
.filter-buttons button {
  display: inline-block;
  margin-right: 10px; /* 마진 설정 */
  padding: 0.375rem 0.75rem; /* 패딩 설정 */
  font-size: 1rem; /* 폰트 크기 */
  line-height: 1.5; /* 줄 간격 */
  text-align: center; /* 텍스트 중앙 정렬 */
  vertical-align: middle; /* 수직 중앙 정렬 */
  border-radius: 0.25rem; /* 테두리 둥글게 */
  border: 1px solid transparent; /* 테두리 설정 */
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, 
              border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* 전환 효과 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  user-select: none; /* 텍스트 선택 방지 */
}

/* 필터 버튼 기본 및 호버 상태 */
.filter-buttons button {
  color: #333; /* 기본 텍스트 색상 */
  background-color: #f8f9fa; /* 기본 배경 색상 */
  border-color: #ced4da; /* 기본 테두리 색상 */
}

.filter-buttons button:hover {
  color: #fff; /* 호버 시 텍스트 색상 */
  background-color: #007bff; /* 호버 시 배경 색상 */
  border-color: #0056b3; /* 호버 시 테두리 색상 */
}

/* 활성화 상태 스타일 */
.filter-active {
  color: #fff; /* 활성화 시 텍스트 색상 */
  background-color: #007bff; /* 활성화 시 배경 색상 */
  border-color: #0056b3; /* 활성화 시 테두리 색상 */
}
